<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://northernvirginiamag.com/wp-content/uploads/2020/04/family-watching-movie-from-home.jpg);">
  <div class="container">
    <h1 class="mb-3">Bookmark your favourite movies today!</h1>
    <%= link_to "Create a new list", new_list_path, class: 'btn btn-outline-light btn-lg' %>
    <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button">Add a movie</a>
</div>
</div>

<div class="container mt-3">

  <h2>Your lists</h2>
    <div class="cards">
      <%= render partial: 'list', collection: @lists, as: :list %>
    </div>

  <h2>All movies</h2>

    <div class="cards">
<%= render partial: 'lists/movie', collection: @movies, as: :movie %>
    </div>

  <h2>Trending movies</h2>

</div>
